body {
    height: 100%;
    color: #070104;
    background-color: rgb(61, 96, 234);
    margin: 0px;
    line-height: 30px;
    display: block;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}




