@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

body {
  background: #e74;
  overflow: visible;
  background-image: linear-gradient(to bottom, #1e18c6, #1717c6 30%, #d61919 80%, #e9b64b 95%);
  height: 100%;
  font-family: 'Kaushan Script','Sail', cursive;
  font-size: 140%;
}

